.Clock {
  margin-left: 600px;
  margin-top: 150px;
}
.font {
  padding-left: 650px;
}
.Name {
  color: #000;
  font-family: Pretendard;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.a {
  margin-top: 10px;
  color: #000;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.square {
  margin-left: 600px;
  margin-top: 50px;
  width: 550px;
  height: 350px;
  border-radius: 60px;
  border: 1px solid #000;
  background: #fff;
}
