.Clock {
  position: relative;
  top: 120px;
  left: 600px;
}
.font {
  position: relative;
  left: 640px;
  top: 86px;
  color: #000;
  font-family: Pretendard;
  font-style: normal;
  line-height: normal;
}
.Name {
  font-size: 25px;
  font-weight: 600;
}
.a {
  position: relative;
  top: 12px;
  font-size: 15px;
  font-weight: 400;
}
.square {
  position: relative;
  left: 600px;
  top: 200px;
  width: 550px;
  height: 380px;
  border-radius: 60px;
  border: 1px solid #000;
  background: #fff;
}
.square2 {
  position: relative;
  left: 655px;
  top: 35px;
  width: 450px;
  height: 140px;
  background: #c4c4c4;
}
.text {
  position: relative;
  left: 660px;
  bottom: 220px;
  width: 450px;
  height: 98px;
  color: #000;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
