* {
  margin: 0;
  padding: 0;
}

.MyComponent {
  background: #929bb8;
  width: 516px;
  height: 1080px;
  position: fixed;
}

.Profill {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: #fff;
  position: relative;
  left: 150px;
  top: 100px;
}

.Menu {
  position: relative;
  left: 150px;
  top: 150px;
}
.Alarm {
  position: relative;
  left: 150px;
  top: 200px;
}
.timeline {
  position: relative;
  left: 60px;
  bottom: 30px;
  color: #fff;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
